<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aministrace zakázek</title>
    
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow fixed-top">
                <div class="container-fluid" style="margin-left: 5%;">
                    <a class="navbar-brand" href="~/">Administrace zakázek</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link mr-1" href="~/"><i class="fas fa-tasks"></i> Úkoly</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-1" href="~/Workflow/Overview"><i class="fas fa-sync"></i> Workflow</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-1" href="~/Agenda/Overview"><i class="fas fa-users"></i> Agendy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-2 my-0 mr-0 btn-group">
                        @if (ViewBag.Signed)
                        {
                            <span class="btn btn-sm btn-light" title="User"><i class="fa fa-user ml-1 mr-1"></i> @ViewBag.Name</span>
                            <a href="~/Account/SignOut" class="btn btn-sm btn-light" role="button" title="Odhlásit se"><i class="fa fa-sign-out-alt"></i></a>    
                        }
                        else
                        {
                            <button onclick="window.location = '/Account/SignIn/?ReturnUrl=' + window.location.pathname" class="btn btn-sm btn-light" role="button" title="Přihlásit se">Přihlásit se <i class="fas fa-sign-in-alt"></i></button>
                        }
                    </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="padding-top: 70px">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Administrace zakázek
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
