
.card {
  margin: 10px;
  padding: 10px 10px 0px 10px;
  width: 345px;
  min-height: 200px;
  cursor: pointer;
  color: black;
  transition: transform .5s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(37, 33, 82, 0.12), 0 4px 8px rgba(37, 33, 82, 0.06);
  transition: transform .2s;
}
 
.agenda-count {
  border-radius: 15px;
  background-color: var(--color-focus);
  color: var(--color-text-inverted);
  padding: 4px 10px;
  word-break: break-word;
  font-weight: 500;
}

.user-count {
  border-radius: 15px;
  background-color: purple;
  color: var(--color-text-inverted);
  padding: 4px 10px;
  word-break: break-word;
  font-weight: 500;
}
