/*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autori:      David Mihola, Marek Fiala, Vítek Hnatovskyj
// Kontakty:    xmihol00@stud.fit.vutbr.cz, xfiala60@stud.fit.vutbr.cz, xhnato00@stud.fit.vutbr.cz
//=================================================================================================================
*/

:root {
  --color-bg: #fff;
  --color-bg-transparent: rgba(255, 255, 255, 0.8);
  --color-bg-light: #f3f3f3;
  --color-bg-dark: #343a40;
  --color-text-default: #000;
  --color-text-inverted: #f3f3f3;
  --color-text-accent: #1b75bb;
  --color-text-accent-inverted: #000;
  --color-focus: #1b75bb;
  --color-border: #dcdcdc;
  --color-border-focus: #1861ac;
  --color-border-dark: #343a40;
  --color-warning: #fc6a00;
  --color-required: #750000;
  --color-bg-success: #28a745;
  --color-border-success: #018f5b;
  --color-prio-low: #018f5b;
  --color-prio-medium: #007bff;
  --color-prio-high: #fc6a00;
  --color-prio-urgent: #cf0000;
  --color-input: #343a40;
  --color-bg-input: #ced4da;
  --value-bradius: 0.25rem;
  --color-hr: #dee2e6;
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-bg: #141414;
    --color-bg-transparent: rgba(255, 255, 255, 0.8);
    --color-bg-light: #aaa;
    --color-bg-dark: #343a40;
    --color-text-default: #fff;
    --color-text-inverted: #f3f3f3;
    --color-text-accent: #1b75bb;
    --color-text-accent-inverted: #000;
    --color-focus: #1b75bb;
    --color-border: #dcdcdc;
    --color-border-focus: #1861ac;
    --color-border-dark: #343a40;
    --color-warning: #fc6a00;
    --color-required: #750000;
    --color-bg-success: #28a745;
    --color-border-success: #018f5b;
    --color-prio-low: #018f5b;
    --color-prio-medium: #007bff;
    --color-prio-high: #fc6a00;
    --color-prio-urgent: #cf0000;
    --color-input: #ced4da;
    --color-bg-input: #343a40;
    --value-bradius: 0.25rem;
    --color-hr: #dee2e6;
  }
}

body {
  background-color: var(--color-bg);
}

footer {
  background-color: var(--color-bg-dark);
}

.bg-default {
  background-color: var(--color-bg);
}

.form-control, .form-control:focus {
  background-color: var(--color-bg) !important;
  color: var(--color-input);
  border-color: var(--color-bg-input);
}

.text-color {
  color: var(--color-text-default) !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

a:hover {
  text-decoration: none;
  color: var(--color-bg-dark);
}

.mb--2 {
  margin-bottom: -2px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.text-default {
  color: var(--color-text-default);
}

.signin-box {
  width: 450px;
  padding: 10px;
  border: var(--color-border) solid 1px;
  border-radius: var(--value-bradius);
  background-color: var(--color-bg-light);
}

.signin-headline {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 1%;
  color: var(--color-text-default);
}

.page-name {
  color: var(--color-text-inverted);
  background: var(--color-bg-dark);
  border-radius: 10px;
  width: fit-content;
  padding: 3px 10px;
}

.page-title-line
{
  margin-top: -2px;
  margin-bottom: 0px;
  color: var(--color-input);
}

.card {
  margin: 10px;
  padding: 10px 10px 0px 10px;
  color: black;
  border-color: var(--color-border);
  border-width: 2px;
  background: var(--color-bg-light);
}

.card:last-child {
  margin-bottom: 0px;
}

.card-focus {
  border-color: var(--color-border-focus);
  border-width: 2px;
  border-style: dashed;
}

.card-selected {
  border-color: var(--color-border-focus);
  border-width: 2px;
  border-style: dashed;
  margin-right: -3px;
  padding-right: 23px;
  border-right: solid var(--color-bg-light) 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 10;
}

.fit {
  width: fit-content !important;
  margin-top: auto;
  margin-bottom: auto;
}

.date-green {
  color: var(--color-prio-low);
  min-width: 116px;
}

.date-orange {
  color: var(--color-prio-high);
  min-width: 116px;
}

.date-red {
  color: var(--color-prio-urgent);
  min-width: 116px;
}

.dis-none {
  display: none;
}

.dis-block {
  display: block;
}

.input-group-text {
  color: var(--color-text-inverted);
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
}

.b-radius-r, .b-radius-r:hover, .b-radius-r::selection, .b-radius-r:active {
  border-radius: 0px var(--value-bradius) var(--value-bradius) 0px !important;
}

.b-radius-l, .b-radius-l:hover, .b-radius-l::selection, .b-radius-l:active {
  border-radius: var(--value-bradius) 0px 0px var(--value-bradius) !important;
}

.b-radius-none {
  border-radius: 0px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}

.border-dark {
  border: 1px solid var(--color-bg-dark);
  border-radius: var(--value-bradius);
}

.border-dark-flat {
  border: 1px solid var(--color-bg-dark);
}

.comp-bckg {
  background-color: var(--color-required);
  border-color: var(--color-required);
}

.custom-alert {
  display: none; 
  position: fixed;
  z-index: 100;
  left: 30%;
  top: 73px;
  width: 40%;
}

.task-count-rel {
  position: relative;
  margin-right: 24px;
}

.task-count {
  border-radius: 15px;
  padding: 2px 8px;
  text-align: center;
  font-size: 12px;
  color: var(--color-bg-dark);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: -3px;
  margin-left: 5px;
}

.custom-task-alert {
  display: none; 
  position: fixed;
  z-index: 99;
  left: 30%;
  top: 73px;
  width: 40%;
}

.alert-div {
  position: relative;
  padding: 10px 10px 0px 10px;
  min-width: 450px;
  max-width: 600px;
  color: black;
  border-radius: var(--value-bradius);
  border-style: solid;
  border-color: var(--color-border-dark);
  border-width: 2px;
  background: var(--color-bg-light);
}

.bd-bottom {
  border-bottom: 2px solid var(--color-border-dark);
}

.priority {
  width: 105px;
  margin-top: -4px;
  position: absolute;
  left: 50%;
  transform: translate(-50px, 0);
  border-radius: 15px;
  color: var(--color-text-inverted);
  padding: 4px 12px;
  text-align: center;
}

h4 {
  color: black;
}

.priority-detail {
  width: 120px;
  margin-top: -7px;
  position: absolute;
  left: 50%;
  transform: translate(-80px, 0);
  border-radius: 15px;
  color: var(--color-text-inverted);
  padding: 4px 12px;
  text-align: center;
  font-size: 18px;
}

.Low {
  background-color: var(--color-prio-low);
}

.Medium {
  background-color: var(--color-prio-medium);
}

.High {
  background-color: var(--color-prio-high);
}

.Urgent {
  background-color: var(--color-prio-urgent);
}

.ov-btn-width {
  width: 80px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 25;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border-color: var(--color-border);
  border-width: 2px;
  background: var(--color-bg-light);
  margin: auto;
  padding: 20px;
  width: 45%;
  z-index: 26;
}

.modified {
  border: dashed 2px var(--color-focus);
}

.form-control:focus {
  outline: 0px;
  box-shadow: none;
  border: solid 2px var(--color-focus);
}

.text-def {
  color: var(--color-text-default);
}

hr {
  border-top: solid 1px var(--color-hr);
}

.vertical-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.c-pointer {
  cursor: pointer;
}

.signin-fail {
  color: red; 
  margin-top: -10px; 
  margin-bottom: 10px
}
.workflow-div-overview{
    margin-inline: -8px;
    padding-inline: 8px;
    margin-bottom: 5px;
    padding-top: 5px;

}
.workflow-set-states {
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 13px;
    margin: 8px 0px 0px 5px;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}
.states-enum {
    background-color: #fff;
    border: solid 2px #1b75bb;
    color: #1b75bb;
}
.state-filters {
    text-align: center;
    margin-left: 10%;
    width: 80%;
}
.search-div {
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--color-bg-input);
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.search-bar {
    display: flex;
}
.search-bar-div {
    width: 100%;
    margin-right: 2%;
    position: relative;
}

.search-bar-input {
    width: 100%;
    height: 100%;
    border: solid 1.5px var(--color-bg-input);
    padding-left: 1%;
    z-index: 15;
}

    .search-bar-input:focus {
        outline: none !important;
        border-color: var(--color-prio-medium);
    }
.workflow-tasks-overview {
    margin: 10px;
    padding: 20px;
    padding-top:10px;
}
.list-suggestion {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 5;
    background-color: white;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--color-bg-input);
}
.detail-container {
    max-width: 1400px !important;
    width: 90%;
    min-width: 1050px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-headline {
    padding-top: 10px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(224, 224, 224);
}
.list-group-item {
    background-color: var(--color-bg)
}

.list-group-item {
    color: var(--color-text-default);
    overflow-wrap: break-word;
    border-color: var(--color-border);
    cursor: pointer;
    padding: 0.5rem 1rem !important;
}

.list-group-item-hover:hover {
    color: var(--color-text-inverted) !important;
    background-color: var(--color-prio-medium) !important;
}


.list-group-item:first-child {
    border-top-width: 1px
}
.border-right {
    border-right: solid 1px var(--color-bg-input) !important;
}
.border-bottom {
    border-bottom: solid 1px var(--color-bg-input) !important;
}
.active-task-detail-workflow{
    background-color: var(--color-bg-success);
}