
.container {
    width: 80%;
    max-width: 1500px;
    min-width: 1000px;
}

.ov-btn-width {
    width: 80px;
}


.priority {
    width: 140px;
    margin-top: -4px;
    position: absolute;
    left: 50%;
    transform: translate(-70px, 0);
    border-radius: 15px;
    color: var(--color-text-inverted);
    padding: 4px 12px;
    text-align: center;
}

h4 {
    color: black;
}

.priority-detail {
    width: 190;
    margin-top: -7px;
    position: absolute;
    left: 50%;
    transform: translate(-85px, 0);
    border-radius: 15px;
    color: var(--color-text-inverted);
    padding: 4px 12px;
    text-align: center;
    font-size: 18px;
}

.Low {
    background-color: var(--color-prio-low);
}

.Medium {
    background-color: var(--color-prio-medium);
}

.High {
    background-color: var(--color-prio-high);
}

.Urgent {
    background-color: var(--color-prio-urgent);
}

.task-detail {
    margin-top: 10px;
    border-color: var(--color-border-focus);
    border-width: 2px;
    border-style: dashed;
    border-radius: 0.25rem;
    height: 100%;
    padding: 0.5rem 1rem;
    margin-left: -30px;
    margin-right: 0.5rem;
    background: var(--color-bg-light);
}

.clk-div {
    line-height: 1;
    padding: 0px 15px 15px 15px;
    font-size: 45px;
}

.clk-span-day {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: 8px;
}

.clk-span-hr {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -5px;
}

.clk-span-min {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -5px;
}

.clk-span-sec {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -12px;
}

.text-center {
    align-content: center;
    margin-right: 10px;
}

.save-btn {
    width: 80px;
}

.btn-div {
    border: 2px solid var(--color-border);
    border-radius: 4px;
    padding: 3px;
    margin-left: -3px;
    margin-right: -3px;
}

.center {
    display: table-cell;
    line-height: 1;
}

.task-headline {
    display: table;
    text-align: center;
}

.subtitle {
    font-size: small;
    color: var(--color-bg-dark);
}

.head-hr {
    color: var(--color-border);
    background-color: var(--color-border);
    height: 2px;
    border: none;
    max-width: 100%;
    margin-top: 8px;
}

.text-uneditable {
    color: black !important;
    background-color: var(--color-bg-light) !important;
}

.uneditable {
    background-color: var(--color-bg-light) !important;
}

.task-prep-wdth {
    width: 125px;
}
