
.container {
    width: 80%;
    max-width: 1500px;
    min-width: 1000px;
}

.ov-btn-width {
    width: 80px;
}


.priority {
    width: 140px;
    margin-top: -4px;
    position: absolute;
    left: 50%;
    transform: translate(-70px, 0);
    border-radius: 15px;
    color: var(--color-text-inverted);
    padding: 4px 12px;
    text-align: center;
}

h4 {
    color: black;
}

.priority-detail {
    width: 190;
    margin-top: -7px;
    position: absolute;
    left: 50%;
    transform: translate(-85px, 0);
    border-radius: 15px;
    color: var(--color-text-inverted);
    padding: 4px 12px;
    text-align: center;
    font-size: 18px;
}

.Low {
    background-color: var(--color-prio-low);
}

.Medium {
    background-color: var(--color-prio-medium);
}

.High {
    background-color: var(--color-prio-high);
}

.Urgent {
    background-color: var(--color-prio-urgent);
}

.task-detail {
    margin-top: 10px;
    border-color: var(--color-border-focus);
    border-width: 2px;
    border-style: dashed;
    border-radius: 0.25rem;
    height: 100%;
    padding: 0.5rem 1rem;
    margin-left: -30px;
    margin-right: 0.5rem;
    background: var(--color-bg-light);
}

.header {
    border: 2px solid var(--color-border);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 6px;
}

.clk-div {
    line-height: 1;
    padding: 0px 15px 15px 15px;
    font-size: 45px;
}

.clk-span-day {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: 8px;
}

.clk-span-hr {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -5px;
}

.clk-span-min {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -5px;
}

.clk-span-sec {
    display: block;
    font-size: 20px;
    color: var(--color-bg-dark);
    margin-left: -12px;
}

.text-center {
    align-content: center;
    margin-right: 10px;
}

.save-btn {
    width: 80px;
}

.btn-div {
    border-bottom: 2px solid var(--color-border);
    border-radius: 0px;
    padding: 3px 6px;
    margin-left: -6px;
    margin-right: -6px;
}

.center {
    display: table-cell;
    line-height: 1;
}

.task-headline {
    display: table;
    text-align: center;
}

.subtitle {
    font-size: small;
    color: var(--color-bg-dark);
}

.head-hr {
    color: var(--color-border);
    background-color: var(--color-border);
    height: 2px;
    border: none;
    max-width: 100%;
    margin-top: 8px;
}

.text-uneditable {
    color: black !important;
    background-color: var(--color-bg-light) !important;
}

.uneditable {
    background-color: var(--color-bg-light) !important;
}

.task-prep-wdth {
    min-width: 125px !important;
    max-width: 300px !important;
}

.files-headline {
    background: var(--color-bg-dark);
    color: var(--color-text-inverted);
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid var(--color-border);
    padding-left: 14px;
    padding-bottom: 3px;
}

.files-div {
    border: 2px solid var(--color-border);
    border-radius: 4px;
    padding: 5px;
    margin-left: -1px;
    margin-right: -1px;
    padding-bottom: 0px;
}

.file-version {
    border: 2px dashed #000;
    background-color: #aaa;
    border-radius: 4px;
    padding: 6px 6px 0px 6px;
    flex-wrap: wrap;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 1px;
    min-width: 25px;
    min-height: 115px;
    width: 100%;
}

.file {
    border-radius: 4px;
    border: 1px solid var(--color-bg-dark);
    background-color: #fff;
    margin-right: 6px;
    margin-bottom: 6px;
    z-index: 5;
    max-width: 300px;
}

.file:last-child {
    margin-right: 0px;
}

.text-vertical-div {
    background-color: var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 1px;
}

.text-vertical {
    transform: rotate(270deg);
    color: var(--color-text-inverted);
    z-index: 0;
    white-space: nowrap;
    margin: auto -8px auto -8px;
    line-height: 1;
}

.input-grp-border {
    border-radius: 4px;
    border: 1px solod var(--color-bg-dark);
}

.new-file-div {
    margin-bottom: 0.5rem;
    width: calc(50% - 7px);
    border: 1px solid var(--color-bg-dark);
    border-radius: 4px;
    margin-left: 6px;
}

.file-name {
    background-color: var(--color-bg-dark);
    color: var(--color-text-inverted);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100% !important;
    word-break: break-all;
    cursor: move;
}

.new-files {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}

.new-file-input {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.new-file-btns {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.task-description {
    background-color: var(--color-bg-dark);
    color: var(--color-text-inverted);
    padding: 6px 12px;
    width: 100% !important;
    word-break: break-all;
}

.hidden-version {
    display: none;
}

.file-button {
    width: 45px;
}

.file-type {
    border-radius: 15px;
    padding: 4px 12px;
    text-align: center;
    font-size: 14px;
    border: 2px solid var(--color-bg-dark);
    color: var(--color-bg-dark);
    font-weight: bold;
}
