@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       Vítek Hnatovskyj
// Kontakt:     xhnato00@stud.fit.vutbr.cz
//=================================================================================================================
*@

@model OverviewWorkflowDTO
<script>
    const filterURL = "@Url.Action(nameof(WorkflowController.FilterSelected), "Workflow")";
</script>
<link rel="stylesheet" href="~/css/Workflow.css" />
<script src="~/js/Workflow.js"></script>
<div class="container mt-0">
    <div class="page-headline d-flex justify-content-between p-0">
        <h1 class="page-name">Přehled workflow</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div id="FilterLists" class="mt-2">

                @await Html.PartialAsync("Partial/_FilterLists", Model.SearchOptions)

            </div>
        </div>
        <div class="col-12 col-md-9 border-left border-right">
            <div class="m-md-1">

                <div class="search-div">
                    <div class="search-bar">
                        <div class="search-bar-div">
                            <input id="SearchBar"
                                   autocomplete="off"
                                   class="search-bar-input"
                                   placeholder="Vyhledávání dle názvu workflow" />
                            <div id="SuggestionList" class="list-suggestion"></div>
                        </div>
                        <button id="Search" type="button" class="btn btn-primary"
                                style="margin-left: -1%;" onclick="Filter()">
                            Vyhledat
                        </button>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div style="">
                                <button class="btn-primary" onclick="setListView();">Listové zobrazení</button>
                                <button class="btn-primary" onclick="setTableView();">Tabulkové zobrazení</button>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
            <div class="m-md-1">
                <div style="margin-bottom: 7px;">
                    <div id="Workflows">
                        @await Html.PartialAsync("Partial/_Workflows", Model.AllWorkflow)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Workflow.js"></script>
<div id="SvgDetailId" class="modal">
    <div class="modal-content mb-3">
        <h2 class="text-center">Náhled modelu workflow</h2>
        <div class="d-flex justify-content-center">
            <div class="model-svg-detail" id="SvgDataId"></div>
        </div>
        <div class="d-flex justify-content-center m-3">
            <button class="btn btn-primary mb-0" onclick="HideModelDetail()">Zavřít</button>
        </div>
    </div>
</div>