@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       Marek Fiala
// Kontakt:     xfiala60@stud.fit.vutbr.cz
//=================================================================================================================
*@
@model List<AgendaModelDTO>
<ul class="list-group mt-1">
    @foreach (var mod in Model)
    {
        <li class="list-group-item d-flex justify-content-start model-li">
            <div>
                <div class="model-svg" id="@mod.Id" onclick="ShowModelDetail(this)">
                    @await Html.PartialAsync("../Model/svg", (mod.Id, 0, 235, 190))
                </div>
            </div>
            <div class="w-100">
                <div class="vertical-justify-between">
                    <div class="pl-3">
                        <h4>@mod.Name</h4>
                        <p class="mb-0" style="color: black;">@mod.Description</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="@mod.Id" onclick="AddModel(this)" class="btn btn-success">Přidat</button>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
