
<script src="~/js/Account/Registration.js"></script>

<h2 class="signin-headline">Registrace do administrace knih</h2>
<div class="d-flex justify-content-center">
    <div class="signin-box">
        <form asp-action="Register" method="POST" onsubmit="return ValidateSignIn()">
            <div class="form-group">
                <label><i class="fas fa-star-of-life red-color"></i> Jméno</label>
                <input autocomplete="off" id="Name" name="Name" class="form-control login-input" oninput="ValidateSignIn()" />
            </div>
            <div class="form-group">
                <label><i class="fas fa-star-of-life red-color"></i> Příjmení</label>
                <input autocomplete="off" id="Surrname" name="Surrname" class="form-control login-input" oninput="ValidateSignIn()" />
            </div>
            <div class="form-group">
                <label><i class="fas fa-star-of-life red-color"></i> Přihlašovací méno</label>
                <input autocomplete="off" id="UserName" name="UserName" class="form-control login-input" oninput="ValidateUserName()" />
            </div>
            <div id="WarningText" class="position-absolute red-color text-small username-warning">
                Zadané uživatelské jméno je již použito.
            </div>
            <div class="form-group">
                <label><i class="fas fa-star-of-life red-color"></i> Heslo</label>
                <input autocomplete="off" id="Password" type="password" name="Password" class="form-control login-input" oninput="ValidateSignIn()" />
            </div>
            <button id="SubmitBtn" type="submit" class="btn btn-primary float-right" disabled>Registrovat se</button>
        </form>
    </div>
</div>