@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       David Mihola
// Kontakt:     xmihol00@stud.fit.vutbr.cz
//=================================================================================================================
*@
@model SignInDTO
<script>
    function ValidateSignIn()
    {
        let userName = document.getElementById("UserName").value;
        let password = document.getElementById("Password").value;

        return !(!userName || !userName.trim() || !password || !password.trim());
    }
</script>

<h2 class="signin-headline">Přihlášení do administrace zakázek</h2>
<div class="d-flex justify-content-center">
    <div class="signin-box">
        <form asp-action="Signin" method="POST" onsubmit="return ValidateSignIn()">
            <div class="form-group">
                <label>Uživatelské jméno</label>
                <input id="UserName" asp-for="UserName" class="form-control" style="width: 430px" />
            </div>
            <div class="form-group">
                <label>Heslo</label>
                <input id="Password" type="password" asp-for="Password" class="form-control" style="width: 430px;" />
            </div>
            @if (!String.IsNullOrWhiteSpace(Model.UserName))
            {
                <div class="signin-fail">Nezámé přihlašovací údaje</div>
            }
            <button type="submit" class="btn btn-primary" style="float: right;">Přihlásit se</button>
            <input type="hidden" asp-for="ReturnURL" />
        </form>
    </div>
</div>