@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       David Mihola
// Kontakt:     xmihol00@stud.fit.vutbr.cz
//=================================================================================================================
*@

@model OverviewDTO

<script src="/js/Task.js"></script>
<link rel="stylesheet" href="~/css/Task.css" />

<div class="d-flex justify-content-between mr-2 ml-2">
    <h1 class="page-name">Zpožděné úkoly</h1>
    <div id="Buttons" class="mt-auto mb-auto d-flex">
        <button onclick="ActiveClicked()" class="btn btn-primary ml-1" style="white-space: nowrap">
            Aktivní úkoly
        </button>
        <button onclick="DelayedClicked()" class="btn btn-secondary ml-1" style="white-space: nowrap">
            Zpožděné úkoly
        </button>
        <button onclick="SolvedClicked()" class="btn btn-primary ml-1" style="white-space: nowrap">
            Vyřešené úkoly
        </button>
    </div>
</div>
<hr class="page-title-line">
@await Html.PartialAsync("Partial/_Overview", Model)
