@model OverviewDTO

<script src="/js/Task.js"></script>
<link rel="stylesheet" href="~/css/Task.css" />

<div class="d-flex justify-content-between mr-2 ml-2">
    <h1 class="page-name">Aktivní úkoly</h1>
    <div id="Buttons" class="mt-auto mb-auto d-flex">
        <a href="~/Task/Overview" class="btn btn-primary ml-1" style="white-space: nowrap">
            Aktivní úkoly
        </a>
        <a href="~/Task/Solved" class="btn btn-primary ml-1" style="white-space: nowrap">
            Vyřešené úkoly
        </a>
    </div>
</div>
<hr class="page-title-line">
@await Html.PartialAsync("Partial/_Overview", Model)
